@import './components/sign-in/sign-in.component';
@import './components/sign-up/sign-up.component';
@import './components/books-app-components/authors/authors.component';

.container{

  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

}

.form{

  display: flex;
  flex-direction: column;
  width: 75%;
  button{
    width: 100%;
  }
}

.text{
  margin-bottom: 5px;
  text-align: center;
  color: #673abd;
}

.error-message{

  background-color: #ff5a5a;
  border-radius: 5px;
  margin-top: 5px;
  height: 50px;
  color: white;

}

.mat-spinner-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff94;
  z-index: 99999999;
}

.error-snackbar{
  background-color: red;
  color: white;
  .mat-simple-snackbar-action{
    color: white;
  }
}

.warning-snackbar{
  background-color: #ff9324;
  color: white;
  .mat-simple-snackbar-action{
    color: white;
  }
}

.success-snackbar{
  background-color: #159d00;
  color: white;
  .mat-simple-snackbar-action{
    color: white;
  }
}

.dialog-content-wrapper{
  width: 400px;
  overflow: hidden;
}

@media screen and (max-width: 560px){
  .dialog-content-wrapper{
    width: 250px;
  }
}

.dialog-content-wrapper {
  .form{
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 400px){
  .form{
    width: 75%;
    max-width: 75%;
  }
}

.flex-center-section{
  display: flex;
  justify-content: center;
  margin-top: 15px;

  &-controls{
    max-width: 60%;
    min-width: 60%;
  }

  table{
    width: 60%;
  }
}

@media screen and (max-width: 640px){
  .flex-center-section-controls{
    max-width: 75%;
    min-width: 75%;
  }

  .flex-center-section{
    table{
      width: 75%;
    }
  }
}
