<div class="dialog-content-wrapper">
  <h2 mat-dialog-title>Confirm</h2>
  <form [formGroup]="authorAuthorForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>First Name:</mat-label>
      <input [(ngModel)]="author.firstName" matInput formControlName="firstname" required>
      <mat-error *ngIf="authorAuthorForm.controls.firstname.invalid">{{getFirstNameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Last Name:</mat-label>
      <input [(ngModel)]="author.lastName" matInput formControlName="lastname" required>
      <mat-error *ngIf="authorAuthorForm.controls.lastname.invalid">{{getLastNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  <button mat-button [mat-dialog-close]="author" >Update</button>
</mat-dialog-actions>
