.author-section{
  display: flex;
  justify-content: center;
  margin-top: 15px;

  &-controls{
    max-width: 50%;
    min-width: 50%;
  }

  table{
    width: 50%;
  }
}

@media screen and (max-width: 640px){
  .author-section-controls{
    max-width: 75%;
    min-width: 75%;
  }

  .author-section{
    table{
      width: 75%;
    }
  }
}

