.nav-bar{

  height: 50px;
  background-color: #673ab7;
  display: flex;
  align-items: center;

  a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
  }

  .log-out{
    flex: 1;
    text-align: right;
    button{
      color: white;
    }
  }

}
::ng-deep{

  .nav-bar-mobile{
    background-color: #0006d8;
    display: none;
    color: white;

  }

  .mat-menu-content{
    a{
      display: block;
      text-align: left;
    }
  }

  @media screen and(max-width: 450px){
    .nav-bar {
      display: none;
    }
    .nav-bar-mobile{
      display: block;
    }
  }

  @media screen and(min-width: 451px){

    .nav-bar {
      display: block;
    }

    .nav-bar-mobile{
      display: none !important;
    }

  }

}


